/*Värimuuttujat, fontit yms.*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Montserrat:wght@300&display=swap');

$blue: blue;
$black: black;

$pink: #EC56B0;
$white: white;
$red: #EC5665;
$green: #65EC56;
$yellow: #FBF2A1;
$orange: #FBC5A1;
$purple: #DD56EC;
$blue: #A1D7FB;

$font: 'Quicksand', sans-serif;
$titlefont: 'Montserrat', sans-serif;
$primary-color: black;
$titlesize: 1.5em;
$normalsize: 1em;
